:root {
  --primaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 10%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorSoft: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.navbarSection .header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}
.navbarSection .header .logoDiv .logo {
  color: var(--whiteColor);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.navbarSection .header .logoDiv .logo .icon {
  color: var(--primaryColor);
  font-size: 25px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .navbarSection .header .navbar {
    background: var(--greyBg);
    position: absolute;
    height: -moz-max-content;
    height: max-content;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: -500%;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.984);
    transition: 0.3s ease;
    z-index: 1000;
  }
  .navbarSection .header .navbar .navlists {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .navbarSection .header .navbar .navlists .navItem {
    padding: 1rem 0;
  }
  .navbarSection .header .navbar .navlists .navItem .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .navbarSection .header .navbar .navlists .navItem .navLink:hover {
    color: var(--primaryColor);
  }
  .navbarSection .header .navbar .navlists .headrBtns {
    flex-direction: column;
  }
  .navbarSection .header .navbar .navlists .headrBtns .btn {
    margin-top: 1rem;
  }
  .navbarSection .header .navbar .navlists .headrBtns .btn a {
    font-weight: 600;
  }
  .navbarSection .header .navbar .navlists .headrBtns .btn a:hover {
    color: var(--whiteColor);
  }
  .navbarSection .header .navbar .navlists .headrBtns .loginBtn {
    background: none;
    border: 1px solid var(--primaryColor);
  }
  .navbarSection .header .navbar .navlists .headrBtns .loginBtn a {
    color: var(--primaryColor);
  }
  .navbarSection .header .navbar .navlists .headrBtns .loginBtn:hover {
    background: var(--HoverColor);
  }
  .navbarSection .header .navbar .navlists .headrBtns .loginBtn:hover a {
    color: var(--whiteColor);
  }
  .navbarSection .header .navbar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--primaryColor);
  }
  .navbarSection .header .navbar .closeNavbar:hover .icon {
    color: var(--HoverColor);
  }
  .navbarSection .header .activeNavbar {
    left: 0;
  }
}
.navbarSection .header .toogleNavbar .icon {
  font-size: 25px;
  color: var(--whiteColor);
}
.navbarSection .header .toogleNavbar .icon:hover {
  color: var(--primaryColor);
}
.navbarSection .activeHeader {
  background: var(--greyText);
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
}

@media screen and (min-width: 769px) {
  .navbarSection .toogleNavbar, .navbarSection .closeNavbar {
    display: none;
  }
  .navbarSection .header {
    padding: 1.5rem 2rem;
  }
  .navbarSection .header .navbar .navlists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .navbarSection .header .navbar .navlists .navItem .navLink {
    color: var(--whiteColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .navbarSection .header .navbar .navlists .navItem .navLink:hover {
    color: var(--primaryColor);
  }
  .navbarSection .header .navbar .navlists .btn {
    margin-left: 1rem;
  }
  .navbarSection .header .navbar .navlists .btn a {
    color: var(--whiteColor);
    font-weight: 500;
  }
  .navbarSection .header .navbar .navlists .loginBtn {
    background: none;
    border: 1px solid var(--primaryColor);
  }
  .navbarSection .header .navbar .navlists .loginBtn:hover {
    background: var(--primaryColor);
  }
  .navbarSection .header .navbar .navlists .loginBtn:hover a {
    color: var(--whiteColor);
  }
}
@media screen and (min-width: 960px) {
  .header .navbar .navlists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 1rem 0.5rem !important;
  }
}/*# sourceMappingURL=Navbar.css.map */